.icon-angel-down {
  display: inline-block;
  background-position: center center;
  background-size: 20px 20px;
}
.icon-user {
  display: inline-block;
  background-position: center center;
}
.icon-search {
  display: inline-block;
  background-position: center center;
}
