.header-box {
    background-color: pink;
    height: 300px;
    width: 100%;
}
.icon-angel-down {
    display: inline-block;
    background: url('../../static/img/xiala.png') no-repeat;
    background-position: center center;
    background-size: 20px 20px;
}
.icon-user {
    display: inline-block;
    background-image: url('../../static/img/yonghu.png');
    background-position: center center;
}
.icon-search {
    display: inline-block;
    background: url('../../static/img/sousuo.png') no-repeat;
    background-position: center center;
}